/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* common styles or utilities starts */
* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;

}

.first-container {
    border: 1px solid #0000004d;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* common styles ends */

/* nav bar start */
header {
    background-color: #562EFF;
    padding: 10px;

}

.menu-bar {
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.nav-title {
    color: #fff;
}

.nav-left .fas {
    font-size: 2.5rem;
    color: #fff;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-right li {
    list-style: none;
}

.nav-right a {
    text-decoration: none;
    gap: 10px;
    color: #fff;
    font-weight: 300;
}

/* nav bar ends */



/* top players style */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* top players section ends */

/* top blogs style start */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}


.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}



.blog-author {
    font-size: 16px;
    color: #9F9F9F;

}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}


/* top blogs style ends */


/* courses styles start */


.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 26px;
}

.course {
    box-shadow: -2px 2px 54px -4px #3c3c3c1c;
    padding: 15px;
    border-radius: 10px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    background-color: #FFE4E8;
    padding: 3px 9px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    color: #FF4A60;
}

/* courses styles end */



/* Media Queries starts============================ */

/* mobile devices */

@media only screen and (max-width: 688px) {

    .container,
    .menu-bar {
        width: 85%;
    }

    header {
        width: 100%;
    }

    .nav-right {

        gap: 10px;
    }

    .nav-title {
        font-size: 13px;
    }

    .nav-left .fas {
        font-size: 20px;
    }

    .section-title {
        text-align: center;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
    }

    .player img {
        width: 150px;
        height: 150px;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);

    }





}


/* mobile devices end */



/* tablet devices starts */

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}



/* tablet devices ends */

/* Media Queries ends================ */